{% load static %}

<li>
    <article class="post">
        <a href="">
            <img src="{% static "images/mountains.jpg" %}" alt="Mountain">
            <div class="post_content">
                <h3>Mountain Hiking</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua.
                    Sed nisi lacus sed viverra tellus in hac habitasse. Consectetur adipiscing elit pellentesque habitant morbi.
                </p>
            </div>
        </a>
    </article>
</li>